
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@400..700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');


@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


@import url('https://fonts.googleapis.com/css2?family=Anton&family=Boldonse&family=Caveat:wght@400..700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Anton&family=Boldonse&family=Caveat:wght@400..700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Delius&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');



*{
    margin: 0px;
    padding: 0px;
}
/*b1
body {
    font-family: 'Exo', sans-serif;
    overflow-x: hidden; 
    overflow-y: auto;
    font-family: 'DMsans', sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('assets/waves3.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    

}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(18px); 
    z-index: -1; 
}

*/

body {
    font-family: 'Exo', sans-serif;
    overflow-x: hidden; 
    overflow-y: auto;
    font-family: 'DMsans', sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    

}
#club {
    background: linear-gradient(135deg, rgba(3, 2, 50, 0.9) 10%, rgba(5, 4, 78, 0.9) 30%, rgba(10, 8, 90, 0.8) 100%);
    background: linear-gradient(135deg, rgba(5, 4, 78, 0.77), rgba(12, 8, 75, 0.9), rgba(20, 3, 50, 1));


}
    
#navbar {
    height: 180px;
}

.mycontainer {
    background-color: rgba(60, 60, 60, 0.39);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%; 
    max-width: 900px; 
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 60px;
    margin: 20px auto;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    height:93px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border: solid 1px white;
    border-color: hsla(0, 0%, 100%, .15);
}


.mycontainer img {
    width: 70px;
}

.logo-clubname {
    display: flex;
    align-items: center;
    gap: 10px;
}

.clubname {
    font-size: 25px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
    color: rgb(133, 174, 219);
    letter-spacing: 1px;
    max-width: 220px;
    text-align: left;
    word-wrap: break-word;
    display: inline-block;
    margin: 0 auto;
}


.mycontainer > div:not(.logo-clubname) {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.mycontainer a {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: rgb(133, 174, 219);
    text-decoration: none;
}

.mycontainer > div:not(.logo-clubname, .disabled):hover {
    border-radius: 50px;
    transform: scale(1.1);
    background-color: hsla(0, 0%, 100%, .15);
    
}

#hero {
    margin-bottom: 280px;
}
.hero-font {
    font-family: "Anton",  sans-serif;
    font-weight: 400; 
    font-size: 60px; 
    line-height: 1.5; 
    color: rgb(255, 255, 255);
}
.special {
    color: rgb(79, 145, 215);
}
.hero-child-font{
    font-family: "Poppins",  sans-serif;
    font-weight: 450; 
    font-size: 20px; 
    line-height: 1.5; 
    color: #beb9b9;
}

.hero-info {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    align-items: center;
    justify-content: center;
}

.hero-info-items {
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}
.hero-info-font{
    font-family: "Poppins",  sans-serif;
    font-weight: 450; 
    font-size: 18px; 
    line-height: 1.5; 
    color: #beb9b9;
    margin-bottom: 0px;
}
.animate-hero {
    animation: slideUp 0.8s ease-out forwards;
}
.animate-hero-child {
    animation: slideUp 0.85s ease-out forwards;
}
.animate-hero-btn {
    animation: slideUp 0.88s ease-out forwards;
}
.animate-hero-info {
    animation: slideUp 0.92s ease-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(90px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
#carousel {
    padding: 50px 0; 
    width: 100%;
}

#events {
    background-color:rgb(37, 37, 37);
}
#team {
    background: rgb(32, 32, 32);
}
.carousel-small-text {
    color:white;
    font-family: "Poppins",  sans-serif;
    font-size: 18px;
}

.btn-contact {
font-family: "Poppins",  sans-serif;

}
.btn-contact:hover {
border: none;
    cursor: pointer;
    transform: scale(1.05); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.39); 
    transition: 
        transform 0.2s ease-in-out, 
        box-shadow 0.3s ease-in-out;
}
.white-bg {
    background-color:white;
}


.carousel-bold {
    color: white;
}
.carousel-muted {
    color: rgb(190, 185, 185);
}
.featurette-divider {
    border: 1px solid white;
}

svg {
    fill: white;
}

.my-card {
    background: rgba(52, 58, 64, 0.6);
    color: white;
    backdrop-filter: blur(10px);
    border: solid 1px white;
    border-color: hsla(0, 0%, 100%, .15);
    height: 480px;
    width:100%;
    cursor: pointer;
}
.my-card img {
    background-color:rgb(37, 2, 57);

}
.my-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.my-card:hover {
    transform: scale(1.05); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.39); 
}


.poppins {
    font-family: "Poppins",  sans-serif;
}

.member-name {
    font-size:23px;
    color: white;
    width:250px;
    text-wrap: wrap;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
        
    
}
.member-pos {
    font-size:19px;
    width:220px;
    text-wrap: wrap;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}
.team-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 350px; 
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    
}
.mask{
-webkit-mask-image: radial-gradient(circle, transparent 0%, black 0%, transparent 80%);
}

.team-carousel:hover {
    animation-play-state: paused;
}


.testimonial-container {
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px; 
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.testimonial-track {
    display: flex;
    gap: 50px;
    animation: moveLeft 290s linear infinite;
    cursor: pointer;
    
}
.testimonial-track:hover {
    animation-play-state: paused;
}

.testimonial-card {
    width: 270px;
    height: 310px;
    color: white;
    border-radius: 30px;
    text-align: center;
    align-items: center; 
    display: flex;
    flex-direction: column;
   
}

.testimonial-card img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 20px
}
.testimonial-track div {
    
}
.testimonial-track div:hover {
    transform: scale(1.05); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.56); 
    background-color: rgba(0, 0, 0, 0.82);
}

.team-bottom-margin {
    margin-bottom: 3rem;
}

@keyframes moveLeft {
    from {
        transform: translateX(40%);
    }
    to {
        transform: translateX(-50%);
    }
}
@keyframes textShine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
}
  
.gradient-font {
    background: linear-gradient(
      to right,
      #7953cd 20%,
      #00affa 30%,
      #0190cd 70%,
      #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

.learn-more:hover {
    border: none;
    cursor: pointer;
    transform: scale(1.05); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.39); 
    transition: 
        transform 0.2s ease-in-out, 
        box-shadow 0.3s ease-in-out;
}


.footer {
    background-color:rgb(37, 37, 37);
    color: #ffffff;
    padding: 40px 0;
}
.footer h3, .footer h5 {
    color: #ffffff;
}
.footer-child {
    color: #bbb;
}
.footer-links {
    list-style: none;
    padding: 0;
}
.footer-links li {
    margin-bottom: 5px;
}
.footer-links a {
    color: #bbb;
    text-decoration: none;
}
.footer-links a:hover {
    color:rgb(64, 97, 163); 
    
}
.social-icons a {
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px;
}
.social-icons a:hover {
    color:rgb(64, 97, 163); 
}
.footer .form-control {
    background: #1a1e27;
    border: none;
    color: #ffffff;
    margin-bottom: 10px;
}
.footer .btn-success {
    background:rgba(78, 76, 184, 0.86);
    border: none;
    width: 100%;
}
.footer .btn-success:hover {
    background:rgba(49, 48, 114, 0.86);
}
.form-control {
    background-color: #1a1e27;  
    color: #ddd;  
    border: 1px solid #444; 
    padding: 10px;
}

.form-control::placeholder {
    color: #bbb; 
}

.looper-container {
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px; 
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    background: rgb(32, 32, 32);
    

}

.my-looper-grid {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    animation: loopermoveLeft 300s linear infinite;
    cursor: pointer;
    align-self: flex-start;
    
}

@keyframes loopermoveLeft {
    from {
        transform: translateX(85%);
    }
    to {
        transform: translateX(-50%);
    }
}

.my-looper-grid-right {
    align-self: flex-end;
    align-items: center;
    display: flex;
    gap: 10px;
    animation: loopermoveRight 380s linear infinite;
    cursor: pointer;
    margin-bottom: 10px;
}

@keyframes loopermoveRight {
    from {
        transform: translateX(-70%);
    }
    to {
        transform: translateX(50%);
    }
}

.my-looper, .my-looper-right {
    text-align: left;
    display: flex;
    height: 85px;
    gap: 10px;
    cursor: pointer;

    border-radius: 6px;
    padding: 10px;
}


.my-looper p, .my-looper-right p {
    padding: 10px;
    font-size: 15px;
    text-align: left;
}

.my-looper-grid:hover, .my-looper-grid-right:hover{
    animation-play-state: paused;
}

.my-looper, .my-looper-right, .my-looper-duplicate {
    transition: background 0.7s ease, color 0.7s ease;
}

.form-control:focus {
    background-color: #222835; 
    color: #fff;
    border-color: #222835; 
    outline: none;
    box-shadow: 0 0 5px rgba(17, 120, 236, 0.5);
}


@media (min-width: 768px) and (max-width: 1024px) {
    .mycontainer {
        width: 90%; 
        gap: 8px;
    }

    .mycontainer > div:not(.logo-clubname) {
        padding: 8px 15px;
    }

    .hero-font {
        font-size: 35px; 
    }
    
    .hero-child-font{
        font-size: 15px; 
    }

    #navbar {
        height:110px;
    }
    #hero {
        margin-bottom: 0px;
    }
    .hero-font {
        font-size: 25px; 
    }
    
    .hero-child-font{
        font-size: 12px; 
    }
    .btn-contact {
        font-size: 12px; 

    }
    .learn-more {
        font-size: 12px; 
    }
    .hero-info {
        margin-top: 30px;
    }
    
    .hero-info-font{
        font-size: 12px; 
       
    }
    .hero-info-items svg {
        height:14px;
        width:14px;
    }
    .looper-container {
        height: 160px; 
    }

    .my-looper, .my-looper-right {
        height: 65px;
        
    }
 
    .my-looper p, .my-looper-right p {
        padding: 5px;
        font-size: 12px;
    }
    
    .member-name {
        font-size:18px;
        width:180px;
 
    }
    .member-pos {
        font-size:15px;
        width:180px;

    }
    .team-container {
        height: 280px; 
 
    }
    .mask{
    -webkit-mask-image: radial-gradient(circle, transparent 0%, black 0%, transparent 80%);
    }
    
    .team-carousel:hover {
        animation-play-state: paused;
    }
  
    .testimonial-container {
        height: 300px; 
        
    }
    
    .testimonial-track {
        animation: moveLeft 280s linear infinite;
        
        
    }
    
    .testimonial-card {
        width: 210px;
        height: 250px;
       
    }
    
    .footer {
        background-color:rgb(37, 37, 37);
        color: #ffffff;
        padding: 40px 0;
    }
    .footer h3 {
        font-size:22px;
    }
    .footer h5 {
        font-size:18px;
    }
    .footer-child {
        color: #bbb;
        font-size:15px;
    }
    .footer-links {
        list-style: none;
        padding: 0;
    }
    .footer-links li {
        margin-bottom: 5px;
    }
    .footer-links a {
        font-size:15px;
    }
    .footer .btn-success {
        font-size:15px;
    }
    .social-icons a {
        font-size: 18px; 
    }
    
    .form-control::placeholder {
        color: #bbb; 
        font-size:15px;
    }
    .address{
        font-size: 15px;
    } 
}


@media (max-width: 767px) {

    #navbar {
        height:110px;
    }
    .mycontainer img {
        width: 45px;
    }
    
    .clubname {
        display:none;

    }
    .mycontainer {
        width: 95%; 
        height:70px;
        gap:3px;
        
    }
    .mycontainer > div:not(.logo-clubname) {
        padding: 10px 10px;
    }
    .mycontainer > div:not(.logo-clubname, .disabled):hover {
        background-color: transparent !important;
    }
    .mycontainer a {
        font-size: 13px;
    }
    #hero {
        margin-bottom: 240px;
    }
    .hero-font {
        font-size: 25px; 
    }
    
    .hero-child-font{
        font-size: 12px; 
    }
    
    .btn-contact {
        font-size: 12px; 

    }
    .learn-more {
        font-size: 12px; 
    }
    .hero-info {
        margin-top: 25px;
        grid-template-columns: repeat(1, 3fr); 
    }
    .hero-info-items svg {
        height:14px;
        width:14px;
    }
    .hero-info-font{
        font-size: 12px; 
       
    }
    
    .looper-container {
        height: 160px; 
    }

    .my-looper, .my-looper-right {
        height: 65px;
        
    }
 
    .my-looper p, .my-looper-right p {
        padding: 5px;
        font-size: 12px;
    }
    .my-card {
        margin:10px;
        height: 480px;
        width: 94.5%;
        cursor: pointer;
    }
    .my-card img {
        background-color:rgb(37, 2, 57);
    
    }
    .my-card {
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
    
    .my-card:hover {
        transform: scale(1.05); 
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.39); 
    }
    .card-body p {
        font-size:15px;
    }
    .member-name {
        font-size:18px;
        width:180px;
 
    }
    .member-pos {
        font-size:15px;
        width:180px;

    }
    .team-container {
        height: 320px; 
 
    }
    .mask{
    -webkit-mask-image: radial-gradient(circle, transparent 0%, black 0%, transparent 80%);
    }
    
    .team-carousel:hover {
        animation-play-state: paused;
    }
  
    .testimonial-container {
        height: 350px; 
        
    }
    
    .testimonial-track {
        gap: 30px;
        animation: moveLeft 300s linear infinite;
   
    }
    
    .testimonial-card {
        width: 210px;
        height: 280px;
       
    }
    
    .testimonial-card img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-bottom: 10px;
        margin-top: 20px
    }
    .team-bottom-margin {
        margin-bottom: 0px;
    }
    .footer {
        background-color:rgb(37, 37, 37);
        color: #ffffff;
        padding: 40px 10px;
    }
    .footer h3 {
        font-size:20px;
    }
    .footer h5 {
        font-size:16px;
    }
    .footer-child {
        color: #bbb;
        font-size:13px;
    }
    .footer-links li {
        margin-bottom: 5px;
    }
    .footer-links a {
        font-size:13px;
    }
    .footer .btn-success {
        font-size:13px;
    }
    .social-icons a {
        font-size: 16px; 
    }
    
    .form-control::placeholder {
        color: #bbb; 
        font-size:13px;
    }
    .address{
        font-size: 13px;
    } 
}
